.form-item input {
  display: block;
  width: 50%;
  margin: auto;
}

.form-item.text-white {
    text-align: center;
    margin: 60px 0px;
}
.form-item button {
  padding: 10px 15px;
  background: red;
  color: #fff;
  border: 2px solid red;
  border-radius: 10px;
  font-weight: 600;
  margin: 15px 0px;
  transition: 0.3s;
  width: 50%;
}
.form-item input {
    display: block;
    width: 50%;
    margin: 10px auto;
    background: #2c2c2c;
    color: #fff;
    border-radius: 10px;
    border-1px border: solid;
    padding: 10px;
    border: none;
}