.form-item input {
  display: block;
  width: 50%;
  margin: auto;
}

.form-item.text-white {
  text-align: center;
  margin: 90px 0px;
}
.form-item button {
  padding: 10px 15px;
  background: red;
  color: #fff;
  border: 2px solid red;
  border-radius: 10px;
  font-weight: 600;
  margin: 5px 0px;
  transition: 0.3s;
  width: 50%;
}
.form-item input {
  display: block;
  width: 50%;
  margin: 10px auto;
  background: #2c2c2c;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.form-item a {
  display: block;
}
